[mysqld]
bind-address = 0.0.0.0
port = 3306
skip-external-locking
default-storage-engine = InnoDB
innodb_buffer_pool_size = 256M
max_connections = 100
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
log-error = /var/log/mysql/error.log
pid-file = /var/run/mysqld/mysqld.pid
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock

[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

[mysql]
default-character-set = utf8mb4
